extends layout

block content
  if output.length
    table.table.table-light.table-striped
      each out,index in output
        tr
          case index
            when 0
              each o in out
                th= o
            default
              each o in out
                td= o
    form(method='POST')
      .form-group.offset-sm-3.col-md-7.pl-2
        button.btn.btn-success.float-right(type='submit')
          i.fas.fa-file-download.fa-sm
          | Download
      .form-group.row
      .form-group.row
  else
    p No File can be read