extends layout

block content
  h1 Anonymate
  p.lead A privacy preserving data extractor written in Python
  hr
  .row
    .col-md-6
      h2 Prototype
      p You can view our prototype which uses an example stream of data, runs the data through the algorithm and produces anonymised data, which you would then receive, without storing any data in the cloud.
      p
        a.btn.btn-raised(href='/example', role='button') View details »