extends layout

block content
  .row.db-padding-btm.db-attached
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .db-wrapper
        .db-pricing-eleven.db-bk-color-one
          .price
            sup $
            | 99
            small per quarter
          .type
            | SMALL PLAN
          ul
            li
              i.glyphicon.glyphicon-print
              | 30+ Accounts
            li
              i.glyphicon.glyphicon-time
              | 150+ Projects
            li
              i.glyphicon.glyphicon-trash
              | Lead Required
          .pricing-footer
            a.btn.db-button-color-square.btn-lg(href='#') BOOK ORDER
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .db-wrapper
        .db-pricing-eleven.db-bk-color-two.popular
          .price
            sup $
            | 159
            small per quarter
          .type
            | MEDIUM PLAN
          ul
            li
              i.glyphicon.glyphicon-print
              | 30+ Accounts
            li
              i.glyphicon.glyphicon-time
              | 150+ Projects
            li
              i.glyphicon.glyphicon-trash
              | Lead Required
          .pricing-footer
            a.btn.db-button-color-square.btn-lg(href='#') BOOK ORDER
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      .db-wrapper
        .db-pricing-eleven.db-bk-color-three
          .price
            sup $
            | 799
            small per quarter
          .type
            | ADVANCE PLAN
          ul
            li
              i.glyphicon.glyphicon-print
              | 30+ Accounts
            li
              i.glyphicon.glyphicon-time
              | 150+ Projects
            li
              i.glyphicon.glyphicon-trash
              | Lead Required
          .pricing-footer
            a.btn.db-button-color-square.btn-lg(href='#') BOOK ORDER
